body {
  justify-content: center;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  width: 300px;
  padding: 15px;
  background-color: teal;
}

h1{
    text-align: center;
    color: rgb(204, 228, 97);
    margin: 10px;
}
input[type=text]{
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin-left: 8px;
    border-radius: 3px;
    border: none;
    outline: none;

}
.search{
	position: relative;
}

.search span{
	position: absolute;
	top: -10px;
	right: -4px;
	background: #e69d17;
	padding: 20px;
	display: flex;
	border-radius: 100%;
	cursor: pointer;
}
/* 


ul{
	padding: 2px;
	list-style: none;
}
ul li i{
	padding: 4px;
	float: right;
	cursor: pointer;
}

ul li{
	background:#fff;
	margin: 5px;
	padding: 10px;
	border-right: 4px solid #e69d17; 
	border-left: 4px solid #e69d17; 
} */